# Dependencies
node_modules/
.pnpm-store/

# roblox-ts output
out/
include/

# Node.js output
dist/

# Flamework
flamework.build

# Roblox
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# NX
.nx/
tmp/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
